.table-view {
  height: calc(100% - 64px);
  background-color: #424242;
}
.position-td {
  text-align: center;
  vertical-align: middle;
}
.position-th {
  vertical-align: middle;
  text-align: center;
}
