<ng-container *ngIf="form">
  <form [formGroup]="form" autocomplete="off" class="basic-view">
    <mat-form-field class="pr-5 pb-2">
      <mat-label> SELECT A MOVIE</mat-label>
      <mat-select [formControl]="movieControl">
        <mat-option *ngFor="let movie of movies" [value]="movie.id">{{movie.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label> SELECT A DATE </mat-label>
      <mat-select [formControl]="timeControl">
        <mat-optgroup *ngFor="let date of movieKeys; index as i" [label]="date">
          <mat-option *ngFor="let time of movieValues" [value]="time[i]"
                      [title]="date + ' ' + time[i]" (onSelectionChange)="saveDate(date)">{{time[i]}}</mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-hint *ngIf="dateControl.value">{{dateControl.value}}</mat-hint>
    </mat-form-field>
    <div>
      <mat-form-field class="pr-5">
        <mat-label>Name and surname</mat-label>
        <input matInput type="text" [formControl]="nameControl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput type="date" [formControl]="dobControl" max="9999-12-31">
      </mat-form-field>
    </div>
    <ng-container>
      <button mat-button color="accent" class="mt-5 mr-2" (click)="save()">Save</button>
      <button mat-button color="warn" routerLink="/movie-list">Cancel</button>
    </ng-container>
  </form>
</ng-container>
