<table mat-table matSort [dataSource]="movies" class="table">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="position-th">
      Movies
    </th>
    <td mat-cell *matCellDef="let element" class="pr-3 position-td title">
      {{ element.title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="pgRating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="position-th">
      PG Rating
    </th>
    <td mat-cell *matCellDef="let element" class="position-td pgRating pr-4"
        [ngClass]="{'red-restriction' : element.pgRating >= 18, 'yellow-restriction' : (element.pgRating >= 16 && element.pgRating < 18)}">
      {{ element.pgRating }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dates">
    <th mat-header-cell *matHeaderCellDef class="position-th text">
      Date
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngFor="let schedule of element.schedule | displayDates">
        <div class="p-2 position-td">
          <span> {{ schedule }} </span>
        </div>
      </ng-container>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
