<table mat-table multiTemplateDataRows matSort [dataSource]="movies">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>
      Movies
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef>
      Rating
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.pgRating }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dates">
    <th mat-header-cell *matHeaderCellDef>
      Date
    </th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let schedule of element.schedule | displayDates; index as i">
        <span>{{schedule}}</span>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
